h1 {
  color: #a52a2a; /* Öâåò çàãîëîâêà */
  font-size: 50pt; /* Ðàçìåð øðèôòà â ïóíêòàõ */
  font-family: Georgia, Times, serif; /* Ñåìåéñòâî øðèôòîâ */
  font-weight: normal; /* Íîðìàëüíîå íà÷åðòàíèå òåêñòà  */
text-align: center
}
#l{
  width: 100px;
      margin-top: 15px;
}

.t{

margin: auto;
    text-align: center;
	width: 100px;
	border-style: solid;
border-color: cadetblue;
}

.t:hover{
border-style: solid;
border-color: darkgrey;
}

#o{
width:950px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
    background-color: #83c7c7;
margin: auto;
    text-align: center;
	    margin-top: 30px;
}
#lo{
    padding: 0px;
    margin: 0px;
    background-color: #50bcdc;
    text-align: center;
	height: 150px;
	background-image: url(img/p.jpg); /* Путь к фоновому рисунку */
    background-position: center; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
	    background-size: 70px 150px;
	
}

.nam{
	
	padding: 0px;
	margin: 0px;
	
}
.pr{
	
	padding: 0px;
	margin: 0px;
	
}

.txf{
background-color: #83c7c7;
border: 2px solid black;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#03deff', endColorstr = '#5cc3ff');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#03deff', endColorstr = '#5cc3ff')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
width: 770px;
    outline: none;
    border-style: none;
    border-bottom-style: solid;
}


body{
background-color:darkseagreen;
margin: 0px
}


.thumbnails
{
	
/* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
margin: 0px;

/* Выравнивание по центру */
text-align: center;
}

.thumbnail
{
/* Убираем подчеркивание у элемента ins,
который был использован для совместимости со старыми версиями Internet Explorer */
text-decoration: none;

/* Следующее правило для Firefox 2 */
display: -moz-inline-box;

/* а это для остальных */
display: inline-block;

vertical-align: top;

/* Убираем выравнивание по центру */
text-align:center;

/* Отступы между блоками */
margin: 10px 0px;



}

.thumbnail .r
{
/* Если есть необходимость, то свойства padding, border, background и position со значением relative
лучше задавать у этого элемента -- это несколько расширит количество поддерживаемых версий браузеров */

/* Задаем минимальную ширину по тексту */
width: 8em;

/* Минимальная ширина в пикселях будет автоматически рассчитываться по ширине картинки */
float: left;
padding: 10px 0px;
margin: 5px 0px;
    background-color: cadetblue;

}


.zak
{
margin-top: 0px;
}

.zak:hover{
color: #fff; 
color: rgb(31, 186, 191);
font-size: 50px;
background-color: rgb(120, 120, 120);
text-shadow: rgb(3, 3, 3) 4px 4px 10px;
}





#bz{
 	
background-color: #4cd273;
border: none;	
display:inline-block;
	
cursor:pointer;

	color:#ffffff;

	font-family:Arial;

	font-size:14px;
	
padding:3px 10px;
	
text-decoration:none;

	text-shadow:0px 1px 0px #2f6627;
	outline: none;
}





#sdf{


}

a {
  color: #fff;
  text-decoration: none;
}







.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 1024px;
	height: 768px;
	position: relative;
	margin: 10% auto;
	padding: 0px 0px 0px 0px;
	
	background: #fff;

	background: -moz-linear-gradient(#6289d0, #367d70);
	background: -webkit-linear-gradient(#6289d0, #367d70);
	background: -o-linear-gradient(#6289d0, #367d70);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#lef{
	position: relative;
	top: -100px;
}
#rig{
	position: relative;
	top: -100px;
}






#blockscreen, #modalwindow {
    position: fixed;
}
#blockscreen {
    background: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#modalwindow {
    z-index: 11;
    background: #fff;
    padding: 5px;
    
    box-shadow: 0 0 10px #444;
    
}



.sel{
	background-color: #468499;
	background-color: #4cd273;
	border-style: none;
	outlune: none;
		color: #ffffff;
}
.psl{
	margin: 5px 0px;
	padding: 0px;

}

#z{
	
margin: auto;
    text-align: center;
}

.frm {
	margin: 0px;
}

.field {
	clear:both;
	text-align:right;
	    margin: 0px 15px;;}
label {   
float: left;
 }

 .btn {
	     outline: none;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
  margin: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#dwn{
	
}
.asd{
	    margin: 15px;
    font-size: 30px;
}