h1 {
  color: #a52a2a; /* Öâåò çàãîëîâêà */
  font-size: 50pt; /* Ðàçìåð øðèôòà â ïóíêòàõ */
  font-family: Georgia, Times, serif; /* Ñåìåéñòâî øðèôòîâ */
  font-weight: normal; /* Íîðìàëüíîå íà÷åðòàíèå òåêñòà  */
text-align: center
}
#l{
  width: 100px;
      margin-top: 15px;
	  margin-bottom: 5px;

}

#aside1 {  /* селектор блока, который будет оставаться на месте */
    position: fixed;
    z-index: 101;
    display: block;
	top: 200px;
	left: 50%;
	margin-left: 430px;

    text-align: center;
    margin-top: 30px;
    background-color: #83c7c7;
    font-size: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 3px;
}
.t {
    margin: auto;
    text-align: center;
    height: 85px;
    width: 120px;

}
main {
        max-width: 950px;
    margin: 0 auto;
}
#fot {
    position: relative;
    

    clear: both;
    height: 150px;
	background-image: url(img/p.jpg); /* Путь к фоновому рисунку */

    background-color: #50bcdc;
    text-align: center;
	height: 150px;
	background-image: url(img/p.jpg); /* Путь к фоновому рисунку */
    background-position: center; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
	    background-size: 70px 150px;
    
}
.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
	width: 10em;

   }
   .photo:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; bottom: 3px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(0,128,128,0.5); /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
	margin:0em;
   
   }

#o{
    width: 950px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    background-color: #83c7c7;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    display: block;
    float: left;
}
#lo{
    padding: 0px;
    margin: 0px;
    background-color: #50bcdc;
    text-align: center;
	height: 150px;
	background-image: url(img/p.jpg); /* Путь к фоновому рисунку */
    background-position: center; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
	    background-size: 70px 150px;
	
}
#f{
	    position: relative;
}
#fi{
	    position: absolute;
    top: -82px;
    right: 50px;
}
.nam{
	
	padding: 0px;
	margin: 0px;
	    background-color: #4b8284;
		
font-weight:bold;
color:#EADAED;

}
.op{
	
	padding: 0px;
	margin: 0px;
	
}
.pr{
	
	padding: 0px;
	margin: 0px;
	
}

.txf{
	    font-weight: bold;
background-color: #66b5b5;
border: 1px solid black;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#03deff', endColorstr = '#5cc3ff');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#03deff', endColorstr = '#5cc3ff')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
width: 740px;
    outline: none;
    border-style: none;
    border-bottom-style: solid;
}


body{
background-color:darkseagreen;
margin: 0px
}


.thumbnails
{
	
/* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
margin: 0px;

/* Выравнивание по центру */
text-align: center;
}

.thumbnail
{
/* Убираем подчеркивание у элемента ins,
который был использован для совместимости со старыми версиями Internet Explorer */
text-decoration: none;

/* Следующее правило для Firefox 2 */
display: -moz-inline-box;

/* а это для остальных */
display: inline-block;

vertical-align: top;

/* Убираем выравнивание по центру */
text-align:center;

/* Отступы между блоками */
margin: 5px 0px;

}

.thumbnail .r {
    width: 10em;
    float: left;
    padding-top: 5px;
    margin: 0px 5px;
    background-color: cadetblue;

}
.thumbnail .r:hover{
	background-color: #407a7b;
	
}

.zak
{
margin-top: 0px;
}

.zak:hover{
color: #fff; 
color: rgb(31, 186, 191);
font-size: 50px;
background-color: rgb(120, 120, 120);
text-shadow: rgb(3, 3, 3) 4px 4px 10px;
}





#bz{
 	
background-color: #4cd273;
border: none;	
display:inline-block;
	
cursor:pointer;

	color:#ffffff;

	font-family:Arial;

	font-size:14px;
	
padding:3px 10px;
	
text-decoration:none;

	text-shadow:0px 1px 0px #2f6627;
	outline: none;
}





#sdf{


}

a {
  color: #fff;
  text-decoration: none;
}







.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 1024px;
	height: 768px;
	position: relative;
	margin: 10% auto;
	padding: 0px 0px 0px 0px;
	
	background: #fff;

	background: -moz-linear-gradient(#6289d0, #367d70);
	background: -webkit-linear-gradient(#6289d0, #367d70);
	background: -o-linear-gradient(#6289d0, #367d70);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#lef{
	position: relative;
	top: -100px;
}
#rig{
	position: relative;
	top: -100px;
}






#blockscreen, #modalwindow {
    position: fixed;
}
#blockscreen {
    background: rgba(0, 0, 0, .8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#modalwindow {
    z-index: 11;
    background: #fff;
    padding: 5px;
    
    box-shadow: 0 0 10px #444;
    
}



.sel{
	background-color: #468499;
	background-color: #4cd273;
	border-style: none;
	outlune: none;
		color: #ffffff;
}
.psl{
	margin: 5px 0px;
	padding: 0px;

}

#z{
	
margin: auto;
    text-align: center;
}

.frm {
	margin: 0px;

}

.field {
	clear:both;
	text-align:right;
	font-weight: bolder;
    color: #1d4244;
	    margin: 0px 30px;;}
label {   
float: left;
 }

 .btn {
	     outline: none;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
  margin: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.f{
	width:800px;
		text-align: center;
}

#dwn{
	width: 800px;
}
.asd{
	    margin: 15px;
    font-size: 30px;
}
#pn{
    margin: auto;
    padding: 5px;
    text-align: center;
    color: mintcream;
}
header{
	    position: absolute;
    width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#mi{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


		* {
			margin: 0;
			padding: 0;
		}
		html,
		body {
			height: 100%;
			
		}
		.wrapper {
			display: table;
			width: 800px;
			height: 100%;
			margin: 0 auto;
			background: #F5F7FA;
			font: 14px/20px Arial, sans-serif;
			text-align:center;
			background: #83c7c7;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			    padding-bottom: 155px;
    padding-top: 170px;

    height: 100%;

		}
		.wra{
			    padding: 30px;
    text-align: center;
		}
		.content {
			display: table-row;
			height: 100%;

		}
		h1 {
			padding: 40px 20px 30px;
			font: 26px/1.3 Arial, sans-serif;
			text-align: center;
		}
		p {
			padding: 10px 20px;
		}
		a {
			color: #3498DB;
		}
		footer {
			    position: absolute;
				box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;
	margin-top: -150px;
		}
		
		
		
		
		.tabs {
	position: relative;
	margin: 0 auto;
	/*width: 800px;*/
}
.tabs label {
	color: #555;
	cursor: pointer;
	display: block;
	float: left;
	width: 150px;
	height: 45px;
	line-height: 45px;
	position: relative;
	top: 2px;
	text-align: center;
}

.tabs input {
	

}

.asddd{
	visibility: hidden;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3,
#tab_4:checked  ~ #tab_l4,
#tab_5:checked  ~ #tab_l5 {
	background: #fff;
	border-color: #fff;
	top: 0;
	z-index: 3;
}

.tabs_cont {
	background: #fff;
	position: relative;
	z-index: 2;
	/*height: 500px;*/
}


.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5 {
	position: static;
	left: 0;
	opacity: 1;
}


